body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}


* {
    box-sizing: border-box;
}

.navbar {
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: #ff7842;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
}

.nav-logo,
.navbar-links {
    width: 100%;
}

.navbar-btns {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.navbar-btns {
    display: block;
    color: white;
    background-color: #ff7842;
    border: 2 solid #333;
    border-radius: 15px;
    text-align: center;
    padding: 14px 16px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    width: 15%;
}

.navbar-btns:hover {
    color: #333;
    cursor: pointer;
    background-color: white;
}

/*styles for create profile*/
/* Add padding to containers */
.container {
    padding: 20px !important;
    background-color: rgb(135, 135, 135) !important;
    width: 50%;
    min-height: 50%;
}

.content-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10 20;
}

/* Full-width input fields */
input[type=text],
input[type=email],
input[type=password],
input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #ff7842;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    /* opacity: 1; */
    background-color: #ff7842;
    color: black;
    border: 2 solid black;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/*e.of create profile styles*/


/*trader - view inventory*/
.container-trader {
    padding: 20px !important;
    background-color: rgb(135, 135, 135) !important;
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: rgb(240, 240, 240);
    min-width: 200px;
}

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*e.of trader - view inventory*/

button:hover {
    background-color: #fff !important;
    color: black !important;
    border: 2 solid black  !important;
}